.footer__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10% 10%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--highlight-color);
    color: white;
    gap: 3rem;
}

.footer__container-description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
}

.footer__container-description > img {
    width: 20rem;
}

.footer__container-paragraph {
    font-size: 1.6rem;
    text-align: justify;
}

.footer__container-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer__container-contacts-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.footer__container-contacts-links > a > img {
    width: 5rem;
    fill: white;
}


@media screen and (min-width: 1200px) {
    .footer__container {
        display: flex;
        width: 100%;
        padding: 4% 10%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--highlight-color);
        color: white;
        gap: 0rem;
    }
    
    .footer__container-description {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 35%;
    }
    
    .footer__container-description > img {
        width: 20rem;
    }
    
    .footer__container-paragraph {
        font-size: 1.6rem;
        text-align: left;
    }
    
    .footer__container-contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    
    .footer__container-contacts-links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    
    .footer__container-contacts-links > a > img {
        width: 5rem;
        fill: white;
    }
    
}