.navbar__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.navbar-logo__container > img {
    width: 100px;
}

.mobile-menu__container {
    display: block;
    cursor: pointer;
}

.mobile-menu__container > div {
    width: 32px;
    height: 2px;
    background-color: rgb(89, 235, 89);
    margin: 8px;
    transition: 0.3s;
}

.nav-list__container {
    display: flex;
    position: absolute;
    background-color: #FFF;
    top: 7vh;
    right: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
}

.nav-list__container.active {
    transform: translateX(0);
}

.nav-list__container > li {
    margin-left: 0;
    opacity: 0;
}

.nav-list__container > li > a {
    text-decoration: none;
    font-size: 2rem;
    color: rgb(89, 235, 89);
    font-weight: 700;
    transition: 100ms;
}

@keyframes navLinkFade {
    from {
    opacity: 0;
    transform: translateX(50px);
    }
    to {
    opacity: 1;
    transform: translateX(0);
    }
}

.mobile-menu__container.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu__container.active .line2 {
    opacity: 0;
}

.mobile-menu__container.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}