.section__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4% 10%;
    gap: 2rem;
    position: relative;
    background-color: #F5F7FA;
}

.section__container.reverse {
    flex-direction: row-reverse;
}

.section__container.bg-white {
    background-color: white;
}

.section__container-image__container {
    width: 70%;
}

.section__container-image__container > img {
    width: 100%;
    order: 1;
}



.section-description__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    width: 100%;

}
.section-description__container > h1 {
    font-size: 4rem;
}



.section-description__container > p {
    font-size: 2rem;
    line-height: 4rem;
    text-align: justify;
}

.section-description__container-button {
    background-color: var(--highlight-color);
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 4rem;
    font-weight: 600;
    font-size: 1.6rem;
    animation: pulse 1.3s infinite ease-out;
    padding: 1.5rem 5rem;
    border: none;
}

.section-description__container-button > svg {
    width: 2.2rem;
    fill: white;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--highlight-color);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(88, 120, 243, 0);
    }
    100% {
        box-shadow: 0 0 0 50px rgba(88, 120, 243, 0);
    }
}

.section-description__container-contacts {
    display: flex;
    gap: 2rem;
}

.section-description__container-list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

.section-description__container-list-item > img{
    width: 10rem;
    border-radius: 2rem;
}